{% extends 'flatpages/default.html' %}


{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все объявления</h1>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>
                   <b>Заголовок</b>
               </td>
               <td>
                   <b>Текст объявления</b>
               </td>
           {% for post in posts %}
           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.content|truncatechars:20 }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Объявлений нет!</h2>
   {% endif %}
{% endblock content %}