{% extends 'flatpages/default.html' %}


{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все объявления</h1>
   <hr>
   {% if posts %}
       <table> <!-- Noncompliant -->
           <tr>
               <th scope="col">
                   <b>Заголовок</b>
               </th>
               <th scope="col">
                   <b>Текст объявления</b>
               </th>
           {% for post in posts %}
           <tr>
               <td><a href="{% url 'post_url' post.pk %}">{{ post.title }}</a></td>
               <td>{{ post.content|truncatechars:20 }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Объявлений нет!</h2>
   {% endif %}
{% endblock content %}